body{
    background-color:#dda2ee ;
}
.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../assets/img/Tyrehampton_ChurchVillageGreen_02.jpg");
    
}

section {
    padding-bottom: 150px;
}

section h3.section-subheading {
    margin-bottom: 75px;
}

nav {
    background-color: #693b8b;
}
.navbar {
    margin-bottom: 75px;
}


.jumbotron {
    margin-top: 100px;
}

.container {
    margin-top: 16px;
}

#banner-icon {
    color: #834ea8;
    margin-bottom: 25px;
}

.card-footer{
    background-color: #eebfeb;
}

.card-footer a{
    padding: 5px;
    color: #834ea8
}

.card img {
    width: 225px;
    height: 225px;
    border: 7px transparent;
}
.card {
    background-color: 	#f9d4ed;
}
